<footer class="w-100 py-4 mt-5 border-top text-white" style="background: rgba(0, 0, 0, 0.8);">
  <div class="container text-center">
      <p class="mb-0">
          &copy; Muhammad Zaky Malika | 20230140017 | 
          <%= new Date().getFullYear() %> Pengembangan Aplikasi Web
      </p>
  </div>
</footer>
